p {
  font-size: 17px;
}
.confirm_text {
  text-align: center;
}
.contents_confirmed{
  margin-left: 30px;
  margin-bottom: 20px;
}
.contents_confirmed p{
  margin: 15px 0px;
}
.button_box {
  margin: 0 auto;
  text-align: center;
}
form {
  display: inline-block;
}
.correct {
  background-color: lightgray;
  border-bottom: 3px solid gray;
}